<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <comment>Ao apertar tecla S, mover cursor para baixo no Menu Inicial</comment>
        <event-block sid="359324374048655">
            <conditions>
                <condition id="0" name="On key pressed" sid="802902268432849" type="Keyboard">
                    <param id="0" name="Key">83</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="358740426169968">
                    <conditions>
                        <condition id="-7" name="Compare instance variable" sid="456077467979755" type="obj_cursor">
                            <param id="0" name="Instance variable">ins_cursor</param>
                            <param id="1" name="Comparison">2</param>
                            <param id="2" name="Value">2</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-11" name="Add to" sid="203660450331836" type="obj_cursor">
                            <param id="0" name="Instance variable">ins_cursor</param>
                            <param id="1" name="Value">1</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <comment>Ao apertar tecla W, mover cursor para cima no Menu Inicial</comment>
        <event-block sid="609767200590527">
            <conditions>
                <condition id="0" name="On key pressed" sid="159397515756572" type="Keyboard">
                    <param id="0" name="Key">87</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="522745871321666">
                    <conditions>
                        <condition id="-7" name="Compare instance variable" sid="526756588298292" type="obj_cursor">
                            <param id="0" name="Instance variable">ins_cursor</param>
                            <param id="1" name="Comparison">4</param>
                            <param id="2" name="Value">1</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-12" name="Subtract from" sid="131134549268100" type="obj_cursor">
                            <param id="0" name="Instance variable">ins_cursor</param>
                            <param id="1" name="Value">1</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <comment>Comparação entre duas Variáveis Instanciadas, entre Cursor e Opção do Menu // Essa comparação faz com que sempre haja o alinhamento entre Cursor e Opção selecionada no Menu estejam sempre alinhados em relação ao outro</comment>
        <event-block sid="729375064439506">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="995473110319827" type="spf_menu_write">
                    <param id="0" name="Instance variable">ins_opcao</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">obj_cursor.ins_cursor</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Set Y" sid="652285009848457" type="obj_cursor">
                    <param id="0" name="Y">spf_menu_write.Y</param>
                </action>
                <action id="-28" name="Set effect parameter" sid="701893134624668" type="spf_menu_write">
                    <param id="0" name="Effect">&quot;Brightness&quot;</param>
                    <param id="1" name="Parameter index">0</param>
                    <param id="2" name="Value">200</param>
                </action>
            </actions>
        </event-block>
        <event-block sid="517750387873734">
            <conditions>
                <condition id="-7" inverted="1" name="Compare instance variable" sid="131779813267623" type="spf_menu_write">
                    <param id="0" name="Instance variable">ins_opcao</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">obj_cursor.ins_cursor</param>
                </condition>
            </conditions>
            <actions>
                <action id="-28" name="Set effect parameter" sid="360283918263870" type="spf_menu_write">
                    <param id="0" name="Effect">&quot;Brightness&quot;</param>
                    <param id="1" name="Parameter index">0</param>
                    <param id="2" name="Value">100</param>
                </action>
            </actions>
        </event-block>
        <comment>Ao pressionar C no &quot;Continuar&quot; ir para o Layout do Game</comment>
        <event-block sid="391141600065524">
            <conditions>
                <condition id="2" name="Key is down" sid="514219071576453" type="Keyboard">
                    <param id="0" name="Key">67</param>
                </condition>
            </conditions>
            <actions />
            <sub-events>
                <event-block sid="996847361162930">
                    <conditions>
                        <condition id="-33" name="Pick by comparison" sid="880149418870493" type="System">
                            <param id="0" name="Object">spf_menu_write</param>
                            <param id="1" name="Expression">spf_menu_write.ins_opcao</param>
                            <param id="2" name="Comparison">0</param>
                            <param id="3" name="Value">obj_cursor.ins_cursor</param>
                        </condition>
                    </conditions>
                    <actions />
                    <sub-events>
                        <event-block sid="273258834556624">
                            <conditions>
                                <condition id="-7" name="Compare instance variable" sid="623864742406766" type="spf_menu_write">
                                    <param id="0" name="Instance variable">ins_acao</param>
                                    <param id="1" name="Comparison">0</param>
                                    <param id="2" name="Value">&quot;continuar&quot;</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-2" name="Go to layout" sid="266392603458006" type="System">
                                    <param id="0" name="Layout">layout_Store</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-block>
            </sub-events>
        </event-block>
    </events>
</c2eventsheet>
